<!DOCTYPE html>
<html>

<head>
  <title>Create Blog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='./static/style.css') }}">
</head>

<body>
    <h1>Create Blog</h1>

    <form action="{{ url_for('createBlog') }}" method="POST">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>

        <label for="content">Content</label>
        <textarea id="content" name="content" rows="10" required></textarea>

        <label for="date">Date</label>
        <input type="text" id="datePublished" name="datePublished" placeholder="YYYY-MM-DD" required>

        <input type="submit" value="Create Blog">
    </form>
</body>

</html>
