<!DOCTYPE html>

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
        LOGIN
    </h1>
    <form action="/auth" method="GET">
      <label for="username">Username:</label>
      <input type="text" name="username" required>
      <label for="passsword">Password:</label>
      <input type="password" name="password" required>
      <br>
      <input type="submit" name="sub1" value="login">
    </form>
    <br>
    <a href="/create">
      <button>SIGN-UP</button>
    </a>
  </body>

</html>
